@model IEnumerable<projectSchedule1.Models.Client>

@{
    ViewData["Title"] = "Client";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Client</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientPhoneNo)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientPhoneNo)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
        </td>
    </tr>
}
</table>
