@model Sakura.AspNet.IPagedList<projectSchedule1.ViewModels.AccountModels>

@{
    ViewData["Title"] = "Account List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var emPagedOptions = PagedListOption.getPagedListOption();
}

<h2>Login Account</h2>

<p>
    <a asp-action="CreateAccount">Create New</a>
    @using (Html.BeginForm(FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            Find by name: @Html.TextBox("searchString")
            <input type="submit" value="Search" class="btn btn-default btn-md" />
        </div>
    }

</p>
<table class="table table table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountEmployee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountEmployee)
            </td>
           
            <td>
                <a asp-action="EditAccountDetails" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-action="DeleteLoginAccount" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
    }
</table>
<center>
    Page @(Model.TotalPage < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPage
    <nav asp-pager-source="Model" asp-pager-options="emPagedOptions" asp-route-currentFilter="@ViewBag.CurrentFilter"
         asp-route-currentSort="@ViewBag.CurrentSort"></nav>
</center>