@model IEnumerable<projectSchedule1.Models.Project>

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Project</h2>
<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStartDate)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
        </td>
    </tr>
}
</table>
<p>
    <a asp-action="CreateProject">Add New</a>
</p>
