@model projectSchedule1.Models.Employee
@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>User Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        @if(Model.Files.Any(f => f.FileType ==projectSchedule1.Models.FileType.Avatar)){
        <dt>
            Avatar
        </dt>
        <dd>
            <img src="~/File/Index?id=@Model.Files.First(f => f.FileType == projectSchedule1.Models.FileType.Avatar).FileId" alt="avatar" height="200" width="200"/>
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeAddr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeAddr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeBirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeBirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeePhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeePhoneNo)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="EditDetails" asp-route-id="@Model.EmployeeId" class="btn btn-primary btn-lg">Edit</a> 
    <a asp-action="ChangePassword" asp-controller="User" asp-route-id="@Model.EmployeeId" class="btn btn-primary btn-lg">Change Password</a>
    

</p>
